<html>
<body>
<p><h1><b><u>Has,Have</u></b></h1><br>
<h4><ol start="1. ">
<li>We use <b>has</b> with singular nouns and pronouns:<br><br>
<p>A triangle<b> has </b> three sides.<br>
<p>He <b>has </b> a new motorcycle.<br><br>
<li>We use <b>have</b> with plural nouns and pronouns:<br><br>
<p>All the rooms <b>have</b> windows in them.<br>
<p>We <b>have </b> a good library.<br><br>
<li>With I and you,we always use <b>have:</b><br><br>
<p>I <b>have</b> a bright idea.<br>
<p>You <b>have</b> a new bat. ( You for one boy)<br>
<p>You <b>have</b> new bats. ( you for more than one boy)<br>	
</h4>
<ul class="nav nav-pills" style="float:right;padding-right:10px">
<li><%= link_to "<button><<<</button>".html_safe, pronouns_pronoun2_path, :id => "button_id", :class => "button_class" %></li>    
<li><%= link_to "<button>>>></button>".html_safe, level_path, :id => "button_id", :class => "button_class" %></li>  
</ul>
</body>
</html>
