<html>
<body>
<p><h1><b><u>Was,Were</u></b></h1><br>
<h4><ol start="1. ">
<li>We use <b>was</b> with singular nouns and pronouns:<br><br>
<p>The book<b> was </b>on the table.<br>
<p>I <b>was </b>sorry for my mistake.<br>
<p>He <b>was </b>very lucky.<br>
<li>We use <b>were</b> with plural nouns and pronouns:<br><br>
<p>The books <b>were</b> on the table.<br>
<p>We <b>were </b> neighbours at Agra.<br>
<p>They <b>were</b> good speakers.<br><br>
<li>With you, we always use <b>were</b>, whether you stands for one person or for more than one person:<br><br>
<p>You <b>were</b> the headboy last year. ( You for one boy)<br>
<p>You <b>were</b> late yesterday. ( you for more than one boy)<br>	
</h4>
<ul class="nav nav-pills" style="float:right;padding-right:10px">
<li><%= link_to "<button><<<</button>".html_safe, pronouns_pronoun1_path, :id => "button_id", :class => "button_class" %></li>
<li><%= link_to "<button>>>></button>".html_safe, pronouns_pronoun3_path, :id => "button_id", :class => "button_class" %></li>
</ul>
</body>
</html>
