<html>
<body>
<p><h1><b><u><center>Adjectives</center></u></b></h1><br>
<h4><ol type="A">
<li><b>  Adjectives are describing words.</b><br><br>
<ol start="1. "><br>
<li>Gopi is an old man.<br>
<p>The word <b>old</b> tells us what kind of man Gopi is. It describes Gopi.<br>
<li>This is a <b>black</b> dog.<br>
<p>The word black describes the dog.<br>
<li> Gita has <b>three</b> pencils.<br>	
<p>The word three tells us how many pencils Gita has.<br>
<p>Old, black, and three are describing words and are called <b>adjectives</b>.</ol>
<li><b>   Now look at these sentences.</b><br><br></ol>
<p>&nbsp&nbsp Honey is sweet.<br>
<p>&nbsp&nbsp The sky is blue.<br>
<p>&nbsp&nbsp John is lazy.<br><br>
<p>In the sentences above<b> sweet, blue and lazy</b> are describing words.
They describe honey, the sky and John respectively and are <b>adjectives</b>.
But they are placed after the nouns they describe.<br><br>
<p>*<font color="red">Adjectives tell us what kind of, how many, what colour, etc.,
<p>&nbsp persons, places, animals and things are.</font>
</h4>
<ul class="nav nav-pills" style="float:right;padding-right:10px">
  <li class="active"><a href="#"><span class="label label-success">>>></span></a></li>
</ul>
<ul class="nav nav-pills" style="float:right;padding-right:10px">
  <li class="active"><a href="#"><span class="label label-danger"><<<</span></a></li>
</ul>
</body>
</html>
