<html>
<body>
<p><h1><b><u>Articles</u></b></h1><br>
<p><h3>The words  <b>a</b> and <b>an</b> signal that a noun is coming up.<br><br>
<p>for e.g. a red ball <br>
<p><b>a</b> and <b>an</b> point to only one indefinite thing.<br><br>
</h3> 
<ul class="nav nav-pills" style="float:right;padding-right:10px">
  <li class="active"><a href="#"><span class="label label-success">>>></span></a></li>
</ul>
<ul class="nav nav-pills" style="float:right;padding-right:10px">
  <li class="active"><a href="#"><span class="label label-danger"><<<</span></a></li>
</ul>
</body>
</html>
