<html>
<body>
<p><h1><b><u><center>Verbs</center></u></b></h1><br>
<h4><ol type="A">
<li><p><b><h3>Doing words:</h3></b><br>
<ol start="1. "><br>
<li><p> The peon <b><u>rings</u></b> the bell.<br>
<li><p> Anil <b><u>kicked</u></b> the ball.<br>
<li><p> This shopkeeper <b><u>sells</u></b> books.<br><br>
<p>Words  like rings, kicked and sells express actions. They are doing words. They tell what persons or things do.
<p>Doing words are called <b> verbs.</b></ol>
<li><p><b><h3>To denote being:</h3></b><br>
<p><h4>The word is does not tell what the servant does. So it is not a doing word.But it helps to say what the servant is.
<p>There are other words also which helps us to say or assert what a person or thing is.These words are also called <b>verbs.</b><br><br>
<p>Is, are, am, was, were, will be, shall be are important verbs of this kind.These verbs often have an adjective after them:<br><br>
<p>The king was kind.
<h1>&nbsp&nbsp&nbsp&#8681;&nbsp&nbsp&nbsp&nbsp&nbsp&#8681;</h1>
<p><table border="1" style="width:80px;float: left">&nbsp&nbsp
<tr><td>verb</td></tr>
</table>
<table border="1" cellspacing="10" style="width:85px;float: left">
<tr><td>adjective</td></tr>
</table>
</p>
<ul class="nav nav-pills" style="float:right;padding-right:10px">
<li class="active"><a href="#"><span class="label label-success">>>></span></a></li>
</ul>
<ul class="nav nav-pills" style="float:right;padding-right:10px">
  <li class="active"><a href="#"><span class="label label-danger"><<<</span></a></li>
</ul>
</body>
</html>
