<footer class="footer">
<div class="footer-left">
<large>
<span class="glyphicon glyphicon-copyright-mark"></span> 
<a href="http://ostryalabs.com/" target="_blank"> Ostrya Labs.</a><font color="black"> All Rights Reserved<br>
Powered By suresh.Kurni
</font>
</large>
<div>
</footer>
<div class="footer-right" style="width:60%;float:right"><a href="http://www.linkedin.com/pub/chandrashekar-chidirala/57/906/90b" target="_blank"><img src="http://localhost:3000/assets/img9.jpeg" alt="Image Not Found" style="height:45px;width:40%px"></a>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img src="http://localhost:3000/assets/img8.jpeg" alt="Image Not Found" style="height:45px;width:40%px">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img src="http://localhost:3000/assets/img10.jpeg" alt="Image Not Found" style="height:45px;width:40%px"></a>
</p></div>
